body {
  font-size: 20px;
  font-family: sans-serif;
}

.head {
  text-align: center;
}
.inbut {
  padding-left: 60px;
  padding-top: 30px;
}
.icone {
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
}
.icone {
  background-color: wheat;
}
.icone:hover {
  color: white;
}
.head {
  background-color: rgb(226, 206, 167);
}
* {
  margin: 0;
  padding: 0;
}
.head {
  padding: 30px 8%;
}
.mooha{
  text-align: center;
}